*.swp
.classpath
.gradle/
.project
.settings/
/bin
bin/
build/
.bundle/

local/
temp/
conf/
projects/
LOCAL_STORAGE/

.idea
*.iml
*.ipr
*.iws
.ideaDataSources/
.shelf

out/
target/